.container-canvas {
    /* This could be done in one single declaration. See the extended sample. */
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}
.container-canvas {
    margin-right: auto;
    margin-left: auto;
    width: 512px;
    border: 3px solid black;
}
